<!DOCTYPE html>
<html lang="en">
<head>
<title>Chat</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<style type="text/css">

body {
  background-color: #74EBD5;
  background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);

  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  width: 5px;
  background: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  width: 1em;
  background-color: #ddd;
  outline: 1px solid slategrey;
  border-radius: 1rem;
}

.text-small {
  font-size: 0.9rem;
}

.messages-box,
.chat-box {
  height: 510px;
  overflow-y: scroll;
}

.rounded-lg {
  border-radius: 0.5rem;
}

input::placeholder {
  font-size: 0.9rem;
  color: #999;
}


    </style>
<script type="text/javascript">
window.onload = function () {
    var token = localStorage.getItem('token');
    if(!token) {
        window.location.href = "http://localhost:8080/";
    }

    var rooms = document.getElementById("rooms");

    $("#logout").click(function(){
      localStorage.removeItem('token');
      window.location.href = "http://localhost:8080/";
    });

    function getRoomListItem(room) {

        var roomElement = document.getElementById("room-box")
        var roomHTML = `<a  class="list-group-item list-group-item-action text-white rounded-0">
                    <div class="media"><img src="https://www.pngarts.com/files/8/Hashtag-PNG-Pic.png" alt="user" width="50" class="rounded-circle">
                      <div class="media-body ml-4">
                        <div style="color: black !important;" class="d-flex align-items-center justify-content-between mb-1">
                          <h6 class="mb-0">#NAME</h6><small class="small font-weight-bold">#CREATE_DATE</small>
                        </div>
                      </div>
                    </div>
                  </a>`
        roomHTML = roomHTML.replace("#NAME", room.name)
        roomHTML = roomHTML.replace("#CREATE_DATE", moment(room.created_at).format("MMM DD YYYY"))
        var a = document.createElement("div")
        a.innerHTML = roomHTML
        a.addEventListener("click", function() {
            localStorage.setItem('room', JSON.stringify(room));
            window.location.href = "http://localhost:8080/chat";
        });
        return a;
    }

    $(document).ready(function(){
            $.ajax({
                type: 'GET',
                url: "http://localhost:8080/rooms",
                headers: {
                    'Authorization': token
                },
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                headers: {"Authorization": localStorage.getItem('token')}
            }).done(function(res) {

                if (res) {
                  res.forEach(room => {
                    var li = getRoomListItem(room);
                    rooms.appendChild(li);
                });
                }
            })
            .fail(function(err) {
              if (err.status == 401) {
                token = localStorage.getItem('token');

                if (token) {
                  localStorage.removeItem('token');
                  alert("Your session has expired. Please login again.");
                }
                window.location.href = "http://localhost:8080/";
              }
            });
        });
};
</script>
</head>
<body>
  <div class="container py-5 px-4">
    <div class="row rounded-lg overflow-hidden shadow">
      <!-- Users box-->
      <div class="col-5 px-0">
        <div class="bg-white">
  
          <div class="bg-gray px-4 py-2 bg-light">
            <p class="h5 mb-0 py-1">Chat Rooms</p>

          </div>
  
          <div class="messages-box">
            <div id="rooms" class="list-group rounded-0">
            </div>
          </div>
        </div>
      </div>

      <div class="col-7 px-0">
        <div id="log"class="px-4 py-5 chat-box bg-white">
            <button id="logout" type="button" style="float: right;" class="btn btn-danger">Log out</button>
        </div>
 
    </div>
  </div>
    <!-- SEPARATOR -->
</body>
</html>
